.app.dark .errror-ka-liya {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  width: 100%;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  box-shadow: #000000 0px 20px 20px -30px, #000000 0px 20px 20px -30px,
    #000000 0px -2px 6px 0px inset;
  gap: 1rem;
}

.app.light .errror-ka-liya {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
  width: 100%;
  padding: 1rem;
  /* background-color: rgb(0, 0, 0); */
  height: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  
  box-shadow: #000000 0px 20px 20px -30px, #010101 0px 20px 20px -30px,
    #000000 0px -2px 6px 0px inset;
  gap: 1rem;
}

.app.dark .Edit-change-Call-btn {
  display: block;
  width: 100%;
  height: 45px;
  font-weight: bold;
  background-color: rgb(246, 204, 79);
  color: white;
  /* padding-block: 15px; */
  /* margin: 20px auto; */
  border-radius: 20px;
  box-shadow: #000000 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}


.app.light .Edit-change-Call-btn {
  display: block;
  width: 100%;
  height: 45px;
  font-weight: bold;
  background-color: rgb(246, 204, 79);
  color: white;
  /* padding-block: 15px; */
  /* margin: 20px auto; */
  border-radius: 20px;
  box-shadow: #000000 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}


.app.light .svg-p-div {
  background: #ffffff;
  border-radius: 20px;
  width: 311px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  box-shadow: #000000 0px 20px 20px -30px, #000000 0px 20px 20px -30px,
    #000000 0px -2px 6px 0px inset;
}

.app.dark .svg-p-div {
  background: #ffffff;
  border-radius: 20px;
  width: 311px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-left: 0.8rem;
  padding-right: 0.4rem;
  box-shadow: #000000 0px 20px 20px -30px, #000000 0px 20px 20px -30px,
    #000000 0px -2px 6px 0px inset;

}

.Address-main-span-divv {
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.Address-main-payment-title {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.Register-btn {
  color: white;
  background: rgb(230, 225, 225);
  background: linear-gradient(90deg, #FFB612, #FFB612 16%, #FFB612);
  border-radius: 20px;
  width: 311px;
  height: 45px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
}


/* .app.light .Register-btn {
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, #000000, #000000 16%, #000000);
  border-radius: 20px;
  width: 311px;
  height: 45px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
} */

.bg-ka-colour {
  background-color: #fad7d7;
  padding: 2rem;
  border-radius: 50%;
}

.Main-logo-good {
  width: 150px;
  height: 30px;
  /* object-fit: cover; */
}

.Submi-btnn-pxx-cg {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input_tagg_pass {
  outline: none;
  width: 212px;
  height: 30px;
  border: none;
}

.Change_password_divv_spann {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 360px) {
  .errror-ka-liya {
    width: 99%;
  }
}